img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
    border: none;
}

.imgAtualiza {
    display: block;
    width: 400px;
    height: 500px;
    overflow: hidden;
    background-color: black;
    justify-content: center;
}

.imgAtualiza2 {
    display: block;
    width: 400px;
    height: 500px;
    overflow: hidden;
    background-color: #F2ECCE;
    justify-content: center;
}

.atualiza {
    margin: 0 auto;
}

.atualiza h2 {
    text-align: center;
    font-family: var(--font-principal);
    color: var(--marrom-principal);
    margin-top: 80px;
    font-size: 2.5rem;
    margin-bottom: 50px;
   
}

.atualiza form{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.atualiza .inputsLivro {
    margin-top: 80px;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.submit button{
   margin-bottom: 45px;
}
