.livros_busca{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: auto;
}
/* Adapte conforme necessário */
.livros_lista {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .livro_item {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 200px; /* Ajuste conforme necessário */
  }
  