.atualiza {
    margin: 0 auto;
}

.atualiza h2 {
    text-align: center;
    font-family: var(--font-principal);
    color: var(--marrom-principal);
    margin-top: 80px;
    font-size: 2.5rem;
    margin-bottom: 50px;
   
}

.imgAtualiza {
    display: block;
    width: 400px;
    height: 500px;
    background-color: black;
}

.imgAtualiza img {
    width: 100%;
    height: 100%;
}

.atualiza form{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.atualiza .inputsLivro {
    margin-top: 80px;
}

.submit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.btn{
   margin-left: 45px;
}