.atualiza {
    margin: 0 auto;
}



.imgAtualiza {
    display: block;
    width: 400px;
    height: 500px;
    background-color: #F2ECCE;
}
.imgAtualiza img {
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.329);
}
.atualiza form{
    margin-top: 80px;
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.atualiza h3{
    overflow: hidden;
    font-family: var(--font-principal);
    text-transform: uppercase;
    color: var(--laranja);
    text-shadow: 1px 1px black;
    border-bottom: 1px solid black;
}

.atualiza .inputsLivro {
    margin-top: 80px;
}
.editInfos {
    display: flex;
    justify-content: space-between;
}
.editInfos span	{
    color: gray;
}
.price {
    color: royalblue;
    font-weight: bold;
}
.submit {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}


.submit div.btn{
   margin-left: 45px;
   color:antiquewhite;
}