.profileclass {
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-input);
}

.profileclass h2 {
    font-size: 2.5rem;
    color: var(--input-color);
    margin: 200px 0 50px 0;
}

.profileclass p {
    font-size: 1.5rem;
    color: var(--marrom-principal);
}

.profileclass a {
    margin: 0 10px 2rem 0;
}

.profileclass button {
    padding: 5px 10px;
    border-radius: 4px;
    color: #FFF;
    background-color: var(--marrom-principal);
    border: none;
    cursor: pointer;
}



  .profileclass a {
    font-size: 20px;
    text-decoration: none;
    font-weight: bold; 
    color: rgb(255, 136, 0);
    transition: color .3s ease-in-out;

  }
  
  .profileclass a:hover {
    
    text-decoration: underline; 
    font-size: 20px;
    color:rgb(122, 47, 12) ;
    text-decoration: none;
    font-weight: bold; 
    margin-right: 10px; 

    
  }

  button {
    margin: 10px;
    font-size: 20px;
    transition: color;
    transition: 0.7s;
  }
 
  button:hover {
    margin: 10px;
    font-size: 25px;
    background-color: rgb(255, 136, 0);

  }