.profileclass {
    margin: 0 auto;
    text-align: center;
    font-family: var(--font-input);
}

.profileclass h2 {
    font-size: 2.5rem;
    color: var(--input-color);
    margin: 200px 0 50px 0;
}

.profileclass p {
    font-size: 1.5rem;
    color: var(--marrom-principal);
}

.profileclass a {
    margin: 0 10px 2rem 0;
}

.profileclass button {
    padding: 5px 10px;
    border-radius: 4px;
    color: #FFF;
    background-color: var(--marrom-principal);
    border: none;
    cursor: pointer;
}
