.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min_height {
    min-height: 800px;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start;
}

.background {
    width: 100vw;
    height: 800px;
    background-color: #CED8F2;
}
.backgroundStandart {
    width: 100vw;
    height: 800px;
    background-color: var(--bg-color);
}

.backgroundStandartG {
    width: 100vw;
    background-color: var(--bg-color);
}


.backgroundWhite {
    width: 100vw;
    height: 800px;
    background-color: #efefef;
}

.background-img{
    width: 100vw;
    height: 800px;
    background-image: url("../../../assets/images/bg.jpeg");
    background-position: center;
    background-size: cover;
}