

footer {
    width: 100vw;
    height: 90px;
    background-color: #8C513B;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    border-top: 1px solid var(--marrom-principal);
}

footer p {
    font-family: var(--font-contatos);
    font-weight: bold;
    font-size: 2rem;
    color: #FFF;
    text-transform: uppercase;
}