@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=M+PLUS+Rounded+1c:wght@700&display=swap');
:root {
  --marrom-principal:#400101;
  --bg-color:#F2ECCE;
  --icon-color:#8C513B;
  --input-color:#90513A;
  --font-principal:"Crimson Pro";
  --font-input:"Ruluko";
  --font-contatos:"Rounded Mplus 1c Bold";
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-size: 12px;
}


h1 {
  font-family: var(--font-principal);
}

